@font-face {
  font-family: "mainFont";
  src: url("alt-font.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.top-nav {
  background: #222221;
  color: #fff;
  padding: 14px;
  font-size: 14px;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.top-nav li {
  margin: 0 20px;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
}

/* Main Navbar Styles */
.navbar {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar .logo img {
  max-height: 32px;
  margin-top: 2px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar li {
  margin: 0 8px;
  font-size: 18px;
  font-family: "mainFont";
  letter-spacing: 1px;
  transform: scaleY(1.2);
}
.navbar li img {
  max-width: 20px;
}
.navbar a {
  color: #3B3830;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-burger {
  display: none;
}
.nav-burger span {
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 2px 14px;
  background: #D2002D;
  border-radius: 50px;
}

.nav-right {
  display: flex;
  justify-content: end;
}

.nav-lang {
  padding: 0 20px;
}
.nav-lang .lang {
  margin-left: 20px;
}

.content {
  z-index: 10;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.section .background {
  background-image: url("images/bg2.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  height: 70vh;
}
.section .background h2 {
  color: #3B3830;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "mainFont";
  letter-spacing: 1px;
  transform: scaleY(1.2);
}
.section .background p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 40px;
  max-width: 500px;
}
.section .background .button {
  text-align: center;
  background: #FFCE11;
  color: #3B3830;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  max-width: 130px;
}
.section .background .button:hover {
  background: #E6BE2A;
}

.pyra-spacer {
  width: 100%;
  position: relative;
  margin-bottom: -70px;
  z-index: 1;
}
.pyra-spacer img {
  width: 100vw;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("images/blackboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu .menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  height: 20vh;
  text-align: center;
  background: white;
  z-index: 10;
}
.menu .menu-top img {
  width: 200px;
  margin: 0 10vw;
}
.menu .menu-top h1 {
  width: 300px;
  font-size: 40px;
}
.menu .menu-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
  z-index: 11;
}
.menu .menu-mid .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 90px;
  background: white;
  border-radius: 10px;
  color: #3B3830;
  padding: 60px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
}
.menu .menu-mid .menu-title h1 {
  font-size: 70px;
}
.menu .menu-mid .menu-title:hover {
  transform: scale(1.1);
}
.menu .menu-mid .menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding: 5vw;
}
.menu .menu-mid .menu-grid .menu-item {
  width: 360px;
  height: 200px;
  border-radius: 22px;
}
.menu .menu-mid .menu-bot-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: mainFont;
}
.menu .menu-mid .menu-bot-top img {
  margin: 0 40px;
  height: 100px;
}
.menu .menu-mid .menu-bot-bot {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.menu .menu-mid .menu-bot-bot img {
  margin: 0 60px;
  height: 50px;
}
.menu .menu-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(165, 42, 42, 0.286);
  padding: 5vw;
}

.eripakkumised {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eripakkumised .eri-top {
  display: flex;
  align-items: center;
  height: 130px;
  color: #3B3830;
}
.eripakkumised .eri-top h1 {
  font-family: mainFont;
  text-transform: uppercase;
}
.eripakkumised .eri-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 100%;
  padding: 5vw;
  background: url("images/blackboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.eripakkumised .eri-bot a {
  padding: 15px 30px;
  background: #D2002D;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  font-size: 20px;
  transition: 500ms;
}
.eripakkumised .eri-bot a:hover {
  background: #AE0021;
}
.eripakkumised .eri-bot .eri-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5vw;
}
.eripakkumised .eri-bot .eri-grid .eri-item {
  background: white;
  height: 170px;
  width: 300px;
  overflow: hidden;
}
.eripakkumised .eri-bot .eri-grid .eri-item img {
  width: 100%;
  height: 100%;
  transition: 1500ms;
}
.eripakkumised .eri-bot .eri-grid .eri-item img:hover {
  transform: scale(1.3);
}

.spacer {
  padding: 12px 0;
  width: 98%;
  margin: 0 auto;
}
.spacer hr {
  background-color: rgb(227, 227, 227);
  border: none;
  height: 1px;
}

.bottom {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.bottom .bottom-top {
  display: grid;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 5vh 0;
}
.bottom .bottom-top .bottom-top-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  min-height: 400px;
  max-width: 495px;
  border-radius: 25px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  color: #3B3830;
}
.bottom .bottom-top .bottom-top-item img {
  height: 160px;
}
.bottom .bottom-top .bottom-top-item a {
  padding: 10px 18px;
  background: #D2002D;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 100;
}
.bottom .bottom-top .bottom-top-item a:hover {
  background: #AE0021;
}
.bottom .bottom-top .bottom-top-item h1 {
  font-weight: 200;
  margin-bottom: 6px;
}
.bottom .bottom-top .bottom-top-item h3 {
  font-weight: lighter;
  margin-bottom: 18px;
}
.bottom .bottom-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .bottom-mid a {
  text-decoration: none;
  color: #3B3830;
  font-size: 30px;
  padding-right: 20px;
}
.bottom .bottom-mid h2 {
  font-size: 30px;
  font-weight: 100;
  color: #D2002D;
}
.bottom .bottom-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: url("images/bottom-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
}
.bottom .bottom-bot a {
  padding: 7px 15px;
  background: white;
  color: #D2002D;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}
.footer {
  position: relative;
  width: 100%;
}
.footer .footer-top {
  display: flex;
  min-height: 30vh;
  justify-content: space-between;
  padding: 3vw;
}
.footer .footer-top .footer-top-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  min-width: 200px;
  margin: 0 10px;
  padding-top: 38px;
}
.footer .footer-top .footer-top-item:first-child {
  align-items: baseline !important;
  padding-top: 0px !important;
}
.footer .footer-top .footer-top-item form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer-top .footer-top-item input[type=submit] {
  background-color: #D2002D;
  color: white;
  padding: 10px 32px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 22px;
}
.footer .footer-top .footer-top-item input[type=submit]:hover {
  background-color: #AE0021;
}
.footer .footer-top .footer-top-item input[type=email] {
  border: 1px solid rgb(209, 209, 209);
  padding: 20px;
  background: rgb(247, 247, 247);
  -webkit-appearance: none;
  outline: none;
  border-radius: 1px;
  margin: 25px auto;
  width: 90%;
  font-size: 20px;
}
.footer .footer-top .footer-top-item a {
  text-decoration: none;
  color: #D2002D;
  padding: 20px 0;
}
.footer .footer-top .footer-top-item a span {
  color: #3B3830;
}
.footer .footer-top .footer-top-item h5 {
  text-align: center;
  font-family: mainFont;
  font-size: 18px;
  color: #3B3830;
  line-height: 28px;
}
.footer .footer-top .footer-top-item p {
  line-height: 34px;
  color: #3B3830;
}
.footer .footer-top .footer-top-item h3 {
  font-weight: 200;
  font-size: 26px;
}
.footer .footer-top .footer-top-item img {
  height: 40px;
  width: auto;
}
.footer .footer-top .footer-top-item .item-link {
  margin: 20px 0;
}
.footer .footer-top .footer-top-item .item-link a {
  display: inline-block;
  padding: 23px;
  border-radius: 50px;
  background: #D2002D;
}
.footer .footer-top .footer-top-item .item-link a:hover {
  transform: scale(1.05);
  background: #AE0021;
}
.footer .footer-bot {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #222221;
}
.footer .footer-bot h4 {
  font-weight: 100;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .top-nav {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-burger {
    display: block;
  }
}
.menu-item {
  color: inherit;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  perspective: 1000px;
}

.front,
.back {
  display: flex;
  border-radius: 18px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 100;
  color: gray;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: -1;
}
.menu-item:hover .front {
  transform: rotateX(180deg);
}
.menu-item:nth-child(even):hover .front {
  transform: rotateX(-180deg);
}

.back {
  background: #fff;
  transform: rotateX(-180deg);
  padding: 0 2em;
}
.back h3 {
  font-family: mainFont;
}
.back .button {
  background: #D2002D;
  transition: 500ms;
}
.back .button:hover {
  background: #AE0021;
}
.menu-item:hover .back {
  transform: rotateX(0deg);
}
.menu-item:nth-child(even) .back {
  transform: rotateX(180deg);
}
.menu-item:nth-child(even):hover .back {
  transform: rotateX(0deg);
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  backface-visibility: hidden;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}/*# sourceMappingURL=style.css.map */